@import "../utils/variables";
#menu-container{
  flex-grow: 2;
  margin: 2rem 0;
  background-color: $light-background;
  border-radius: 2rem;

  box-shadow: 0 0 10px 10px $light-background; // fading effect
}
.item {
  display: flex;
  padding: 1.5rem 3rem;
  margin: 1rem auto;

  border:0.5px dotted black;
  border-radius: 1rem;

  width: 75%;

  .detail-div {
    display: flex;
    flex-direction: column;

    //flex-grow: 2;
    margin-left: 2rem;
  }

  img {
    height: 10rem;
    width: 11rem;
  }
}

.detail-p {
  line-height: 1.5rem;
  word-wrap: break-word;
  width: 35rem;

  padding: 0.5rem;
}

.price-div {
  display: flex;
  border-bottom: 0.5px dotted black;
  padding: 0.5rem;
  margin-left: 0.5rem;
  justify-content: space-between;

  :first-child {
    font-style: italic;
  }
}
