@import "../utils/variables";

nav {
  background-color: $nav-background;
  .nav-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    li {
      list-style: none;
      flex-grow: 1;
      padding: 1rem;
      margin: auto;
      color: $brown;

      &:link {

      }

      &:visited {

      }

      &:hover {
        cursor: pointer;
        color: black;
      }

      &:active {
        color: black;
      }
    }

    // overriding flex grow
    :first-child {
      flex-grow: 5;
      font-size: 1.5rem;
      font-weight: 700;
      color: $brown;
    }
  }
}
