<div class="contact-div">

    <div class="person">
        <img src="../img/kakashi1.png" alt="">
        <div class="person-det">
            <div class="person-name">
                <h3>Kakashi Hatake</h3>
                <p>Chef</p>
                </div>
            <p>555-555-554</p>
            <p>kakashi@totalllyFake.com</p>
        </div>
    </div>
    <div class="person">
        <img src="../img/kakashi1.png" alt="">
        <div class="person-det">
            <div class="person-name">
                <h3>Kakashi Hatake</h3>
                <p>Chef</p>
            </div>
            <p>555-555-554</p>
            <p>kakashi@totalllyFake.com</p>
        </div>
    </div>
    <div class="person">
        <img src="../img/kakashi1.png" alt="">
        <div class="person-det">
            <div class="person-name">
                <h3>Kakashi Hatake</h3>
                <p>Chef</p>
            </div>
            <p>555-555-554</p>
            <p>kakashi@totalllyFake.com</p>
        </div>
    </div>
    <div class="person">
        <img src="../img/kakashi1.png" alt="">
        <div class="person-det">
            <div class="person-name">
                <h3>Kakashi Hatake</h3>
                <p>Chef</p>
            </div>
            <p>555-555-554</p>
            <p>kakashi@totalllyFake.com</p>
        </div>
    </div>
</div>